<h1> List of Events</h1>
<h3><a href="/event/new">Insert new event</a><br></h3>

<% @events.each do |event| %>
  <a href="/event/<%= event.id %>"> <%= event.discipline %> <%= event.event_date %></a><br> 
<% end %>