<h1>Add a new event</h1>

<form action="/event" method="post">
  <input type="Date" name="event_date">
  <label for="discipline"> Discipline:</label>
  <input type="text" name="discipline">
  <input type="submit" value="Submit">
</form>