<div class="insert">
<h1 class="title">Add a new event</h1>
<div class="add">
  <form action="/event" method="post">
    <label for="event_date"> Date:</label><br>
    <input type="Date" name="event_date"><br><br>
    <label for="discipline"> Discipline:</label><br>
    <input type="text" name="discipline"><br>
    <input type="submit" value="Submit">
  </form>
</div>
</div>