<!DOCTYPE html>
<html>
<head>
  <title>Rio Olympic Games 2016</title>
</head>
<body>
<a href="/">Home</a>
<a href="/nation">Nations</a>
<a href="/athlete">Athletes</a>
<a href="/event">Events</a>
<a href="/ranking">General Ranking</a>
<%= yield %>
</body>
</html>