html { 
  background: url(rio_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.show{
  margin: auto;
  width:60%;
  text-align: center;
  vertical-align: middle;
}

.show h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  color: #fff;
  font-weight: 600;
}

.show p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: 300;
}

.show .buttons form {
display: inline;
}


.insert{
  margin: auto;
  width:60%;
  text-align: center;
  vertical-align: middle;

}

.insert .add{
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
  color: #fff;
}


.list {
  margin: auto;
  width:30%;
  /*background-color: red;*/
}

.title {
  position: relative;
  float: center;
  margin-top: 5%;
  font-size: 50px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.contestual{
  position: fixed;
  top: 20%;
  left: 0%;  
}
.contestual a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #fff;
  display: inline-block;
  transition: .3s background-color;
  background-color: #0080ff;
  padding:5px;
  margin:-5px;
  min-width: 12%;
  text-align: center;
}

.contestual a:hover {
  background-color: #1a8cff;
}
 
.contestual a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.list a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #fff;
  display: inline-block;
  transition: .3s background-color;
}

.list a:hover{
  font-size:25px;
}

.list a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.nav {
  position: fixed;
  top: 0%;
  right: 0%;
}

.nav a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: #fff;
  display: inline-block;
  transition: .3s background-color;
  background-color: #2eb82e;
  padding:5px;
  margin:-5px;
  min-width: 12%;
  text-align: center;
}
 
.nav a:hover {
  background-color: #33cc33;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.logo{
  display: block;
  width: 5% ;
  height: auto;
  -webkit-filter: drop-shadow(1px 1px 3px #222);
}


* {
   box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
   float: left;
   padding: 0.2em;
/*    border: 1px solid red;*/
}

.row::after {
   content: "";
   clear: both;
   display: block;
}

/*end of grid setup*/
