<div class="contestual">
  <a href="/nation/new">Insert new nation</a>
</div> 

<div class="list">
  <h1 class="title"> List of Nations</h1>
  <% @nations.each do |nation| %>
  <a href="/nation/<%= nation.id %>"> <%= nation.name %> </a><br> 
  <% end %>
</div>
