<h1>Add an event and a medal to <%= @athlete.name  %> <%= @athlete.last_name %></h1>

<form action="/medal" method="post">
<select name = "event_id">
  <% @events.each do |event| %>
  <option value = "<%= event.id%>">
    <%= event.discipline%></option>
    <%end%>
</select>
<select name = "medals_type">
  <option value = "gold"> Gold </option>
  <option value = "silver"> Silver </option>
  <option value = "bronze"> Bronze </option>
  <option value = "no"> No Medal </option>
</select>
<input type="submit" value="Submit">
</form>
